@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  display: flex;
}

i{
  margin-left: 5px;
}
nav {
  width: 250px;
  height: 100vh;
  padding: 25px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

section {
  padding: 25px;
  /* background-color: #5e81f3;*/
  background-color: #f6f5fb;
  flex-grow: 1;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}
main {
  display: flex;
  flex-direction: column;
}
footer {
}
aside {
  padding: 25px;
  width: 370px;
  height: 100vh;
}
.logo-area {
}
.logo {
  height: 60px;
}

.menu {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.menu-item {
  display: flex;
  align-items: center;
  padding: 10px 0;
  color: #464646;
}
.menu-item.active {
  position: relative;
}
.menu-item.active::before {
  position: absolute;
  background-color: crimson;
  display: block;
  width: 5px;
  height: 40%;
  top: 30%;
  right: -26px;
  content: "";
  border-radius: 10px;
}
.menu-icon {
  font-size: 24px;
  margin: 10px;
}
.nav-footer {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 250px;
  padding: 15px;
  background-color: #eeeeee;
  text-align: center;
  border-radius: 20px;
}
.upg-img {
  width: 90px;
  transform: translateY(-40px);
}
.apg-box {
}
.upg-btn {
  padding: 12px 40px;
  background-color: #5e81f3;
  color: white;
  font-weight: 600;
  border: 0;
  border-radius: 10px;
}

.date {
  display: inline-block;
}
.search {
  margin-left: 10px;
  padding: 10px 12px;
  background-color: #e7e8fc;
  display: inline-block;
  border-radius: 10px;
}
.welcome {
  margin: 20px 0;
  height: 220px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 50px;
  background-color: #f8e5e9;
  border-radius: 10px;
}

.welcometext {
}
.welcome-title {
  color: rgb(193, 102, 106);
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 15px;
}
.welcome-text-in {
  font-size: 18px;
}
.welcome-img {
}
.welcome-img-in {
  transform: translateY(-40px);
  margin-right: 120px;
  height: 260px;
}

.content {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}
.result {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 45%;
  height: 400px;
  background-color: white;
  padding: 15px 25px;
  border-radius: 10px;
}
.result-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.unit {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid rgb(227, 227, 227);
}

.unit-title {
  font-weight: 700;
}
.unit-title p span {
  font-weight: 400;
}
.unit p {
  display: inline-block;
}

.percent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 35%;
}

.per-line {
  background-color: #e2dfdf;
  width: 100px;
  height: 4px;
  border-radius: 10px;
}
.unit-per {
  position: absolute;
  height: 4px;
  border-radius: 10px;
}
.u-red {
  background-color: #fe808a;
}
.u-blue {
  background-color: #5e81f3;
}
.red {
  color: #fe808a;
}
.blue {
  color: #5e81f3;
}

.u-technology {
  width: 25px;
}
.u-ecology {
  width: 56px;
}
.u-realestate {
  width: 60px;
}
.u-education {
  width: 15px;
}
.u-jobmarket {
  width: 76px;
}
.timelearned {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 54%;
  height: 400px;
  background-color: white;
  padding: 15px 25px;
  border-radius: 10px;
}

.timelearn-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tl-day-box {
  display: flex;
  justify-content: space-evenly;
  gap: 0 25px;
}
.tl-day {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.tl-day h4 {
  color: #464646;
  margin: 0;
  margin-bottom: 25px;
}
.tl-day-line-back {
  width: 4px;
  height: 200px;
  background-color: #e2dfdf;
  border-radius: 10px;
}
.day-line-voc {
  position: absolute;
  bottom: 0;
  width: 4px;
  height: 160px;
  background-color: #cc4747;
  border-radius: 10px;
}
.day-line-gram {
  position: absolute;
  bottom: 0;
  width: 4px;
  height: 120px;
  background-color: #5e81f3;
  border-radius: 10px;
}
.tl-height180 {
  height: 180px;
}
.day-learning-name {
}
.day-learning-name ul {
  display: flex;
  justify-content: space-evenly;
  gap: 0 50px;
  margin: 0 auto;
}
.day-learning-name ul {
  list-style-type: none;
}
.voc::before {
  content: "•";
  color: red;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}
.Gra::before {
  content: "•";
  color: #534da7;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}
.Lis::before {
  content: "•";
  color: #6482f5;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}
.Wri::before {
  content: "•";
  color: #555555;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}
/*   */
.footer-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.continuebox {
  display: flex;
  justify-content: space-between;
}
.continue {
  padding: 15px;
  width: 32%;
  border-radius: 10px;
  display: flex;
  align-items: center;
}
.continue.violet {
  background-color: #4d4bab;
}
.continue.lightviolet {
  background-color: #9597d4;
}
.continue.red {
  background-color: #fe808a;
}

.level {
  padding: 15px;
  display: inline-block;
  background-color: white;
  opacity: 0.6;
  border-radius: 7px;
  font-weight: 600;
}
.level-text {
  display: block;
  margin-left: 10px;
  width: 80%;
}
.level-text h4 {
  margin: 0;
  font-size: 14px;
  color: rgb(227, 227, 227);
  font-weight: 300;
}
.level-text p {
  margin: 0;
  color: rgb(227, 227, 227);
  font-weight: 600;
}
.continueicon {
  float: right;
  color: white;
}
.level-text span {
  float: right;
}

/* aside */

/* User */
.user {
}
.logout {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.user-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 10px 0;
}
.user-info h2 {
  margin: 0;
  margin-top: 20px;
}
.user-info span {
  color: #777777;
}
.avatar {
  width: 200px;
}

.lang-level {
  margin-top: 30px;
}
.lang-level-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}
.c-level {
  padding: 15px;
  background-color: #e9e7f0;
  border-radius: 10px;
  font-weight: 700;
}
.lang-name {
}
.lang-name-item {
  font-weight: 700;
}
.lang-name-item-comment {
  color: #9f9f9f;
  font-size: 14px;
}
.lang-level-line {
  width: 100px;
  height: 4px;
  background-color: #e2dfdf;
  border-radius: 10px;
}
.lang-level-per {
  position: absolute;
  background-color: #5e81f3;
  width: 80px;
  height: 4px;
  border-radius: 10px;
}
.lang-level-per-en {
  width: 60px;
}
/* end User */
/* Reminders */
.reminders {
  margin: 60px 0;
}
.reminders-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.remindersbox {
}
.reminderbox {
}
.reminder-item {
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 10px 0;
}
.reminder-item-icon {
  padding: 10px 12px;
  background-color: #e9e7f0;
  border-radius: 10px;
}
.reminder-name {
  font-weight: 700;
}
.reminder-name-comment {
  color: #9a9a9a;
  font-weight: 400;
  font-size: 14px;
}
.reminder-p {
  text-align: center;
  color: #919191;
}
