body {
  background-color: #eaeff1;
  font-family: sans-serif;
}
.box {
  background-color: azure;
  width: 300px;
  height: auto;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  border-radius: 10px;
  padding: 10px;
  text-align: left;
}
.box img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}
.box span {
  font-size: small;
  color: rgb(146, 146, 146);
  border-radius: 25px;
  border: 1px solid rgb(146, 146, 146);
  padding: 5px 18px;
}
.box p {
  color:#252525;
  margin-bottom: 15px;
}
.box div {
  padding: 5px;
  margin: 5px;
}
.center {
  text-align: center;
}
.box div a {
  background-color: #d8e6f6;
  text-align: center;
  color: #449bff;
  border-radius: 30px;
  padding: 15px 30px;
}
