/* header */
body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
header {
  padding: 60px;
}
.logo {
  height: 60px;
}
.nav {
  margin: 0;
  padding: 0;
  list-style-type: none;
  float: right;
}
.nav-item {
  display: inline-block;
  padding: 15px 20px;
}
.nav-item a {
  text-decoration: none;
  color: rgb(43, 43, 43);
  font-weight: 600;
  transition: 500ms;
}
.nav-item.active {
  text-decoration: underline;
  text-decoration-color: rgb(4, 169, 169);
  text-decoration-style: solid;
  text-decoration-thickness: 2px;
}
.nav-item a:hover {
  transition: 1s;
  color: rgb(6, 155, 155);
}
/* main */
main {
  background-image: url(img/pros.webp);
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom;
  margin:0 60px ;
  padding:80px 0;
}
.lorem{
    color: #25AAE1;
    margin-bottom: 0;
}
.landing{
    font-size: 54px;
    font-weight: 700;
    margin-top: 0;
}
.sign-up{
    display: inline-block;
    padding: 10px 20px;
    background-color: #25AAE1;
    color: white;
    text-decoration: none;
    font-weight: 600;
}
.show-more{
    display: inline-block;
    padding:10px 20px;
    font-weight: 600;
    text-decoration: none;
    color:#25AAE1
}

footer{
    background-color: #25AAE1;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
.step.active{
    background-color: #E9E9E9;
    padding: 20px;
    margin-top: -20px;
    color: rgb(34, 34, 34);
}
.step{
    color: white;
    width: 300px;
    padding: 30px;
}