body {
  font-family: sans-serif;
}
#div1 {
  width: 800px;
}
h2 {
  background-color: rgb(120, 240, 240);
  padding:3px;
  color: rgb(2, 73, 73);
}
a {
  color: rgb(0, 181, 181);
  text-decoration: none;
  font-weight: bold;
}
.imgdog {
  width: 256px;
  float: right;
}
table,
th,
td {
  border: 1px solid;
  border-collapse: collapse;
}
.trgray{
    background-color: rgb(233, 233, 233);
}
